@import url(https://fonts.googleapis.com/css?family=Lato:400,700italic);

body {
  background: #fff; // v. white
  color: #333; // dark gray
  font-family: Poppins;
}

.BurgerMenu {
  position: fixed;
  right: 1.5em;
  top: 2.25em;
  height: .5em;
  width: 2.5em;
  border-radius: 1em;
  background: white;

  &:before {
    transition: all .25s;
    content: "";
    position: absolute;
    left: 0;
    top: -.75em;
    height: .5em;
    width: 2.5em;
    border-radius: 1em;
    background: white;
  }

  &:after {
    position: absolute;
    content: "";
    left: 0;
    top: .75em;
    height: .5em;
    width: 2.5em;
    border-radius: 1em;
    background: white;
    transition: all .25s;
  }
}

.Navigation {
  text-align: center;
  padding: .5em 0;
  width: 100%;
  background: #38c20a; // grass green
  color: white;
  
  a {
    // inline-block allows v. alignment
    display: inline-block;
    padding: .5em;
    vertical-align: middle;
    text-decoration: none;
    transition: all .4s;

    &:focus {
      background: black;
      color: white;
    }

    &:link, &:visited {
      color: white;
    }

    &:hover, &:active {
      background: rgba(34, 34, 34, .25);
    }
  }
  
  li {
    display: inline;
    font-size: 32px;
    font-size: 2rem;
  }
  
  &--collapsed {
    display: none;
    position: fixed;
    background: green;
    border-radius: .5em;
    top: 0.875em;
    right: 1.125em;
    height: 3.25em;
    width: 3.25em;
    z-index: 1;
    cursor: pointer;
    transition: all .25s;
  }
  
  &-list {
    display: inline-block;
    text-align: center;
  }
  
  &-smallLogo {
    display: inline-block;
    padding-right: 1em;
    vertical-align: middle;
    font-weight: bold;
    font-style: italic;
  }
}

.Overlay {
  display: inline-block;
  vertical-align: middle;
}

// media queries to show/hide elements
@media only screen and (max-width: 50em){
  // go to fixed and add margin to content
  
  .BurgerMenu {
    &--on {
      background-color: transparent;
      transition: all .25s;
      &:before {
        transition: all .25s;
        content: "";
        transform: rotate(45deg);
        top: 0px;
      }
      &:after {
        transition: all .25s;
        content: "";
        transform: rotate(-45deg);
        top: 0px;
      }
    }
  }
  
  .Navigation {
    &--collapsed {
      display: block;
    }

    &-list {
      position: relative;
      height: 70%;
      top: 50%;
      transform: translateY(-50%);
      
      li {
        display: block;
        position: relative;
        height: 25%;
        height: calc(100% / 4);
        min-height: 4em;
      }
    }
  }
  
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: green;
    
    &--on {
      height: 100%;
      visibility: visible;
      opacity: .9;
    }
  }
}

// other niceties below
h1 {
  font-size: 64px;
  font-size: 3.998rem;
  line-height: 1.05;
}
h2 {
  font-size: 45.2px;
  font-size: 2.827rem;
  line-height: 1.25;
}
h3 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.25;
}
h4 {
  font-size: 22.6px;
  font-size: 1.414rem;
  line-height: 1.25;
}

.content {
  margin: 0 auto;
  padding-top: 3em;
  text-align: center;
  width: 95%;
}