body {
    margin: 0;
    padding: 0;
    font-family: Poppins, Open Sans, Helvetica Neue, Arial, sans-serif;
    color: #212529!important;;
}
h1,h2,h3,h4,h5,h6,#mainNav, #contactmainNav, #blogmainNav, #mainNav .navbar-brand,p,.masthead button a,span,form,a.footer-link{
    font-family: Poppins, Open Sans, Helvetica Neue, Arial, sans-serif;
    font-weight:  400;
}
.dark-mode{
    background-color: black! important;
    color: #fff !important;
}
#night-toggle-mob{
    font-size: 20px;
    right: 8px;
}
.dark{
    color: black !important;
}
.dark-overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
}
.dark-overlay-content {
    position: relative;
    top: 6%;
    width: 100%;
    text-align: left;
    margin-top:30px;
}
.dark-overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}
.dark-mob-nav{
        color:white !important;
        font-size: 30px !important;
}
.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
.action-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.9);;
    overflow-x: hidden;
    transition: 0.5s;
}
.action-overlay .closebtn {
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 40px;
}
.action-overlay-content {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    border-top: 3px solid;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}
.action-overlay li{
    padding-top:10px;
    padding-bottom: 10px;
}
.action-overlay a{
    padding-right: 8px !important;
    padding-left: 50px !important;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
}
/* #subNav img{
    margin-top:30px;
} */
.overlay-content {
    position: relative;
    top: 6%;
    width: 100%;
    text-align: left;
    margin-top:30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.overlay .closebtn {
    position: absolute;
    top: 1px;
    left: 5px;
    font-size: 40px;
}

.overlay button {
    position: absolute;
    top: 24px;
    right: 45px;
    font-size: 35px;
}
.dark-overlay button {
        position: absolute;
        top: 24px;
        right: 45px;
        font-size: 35px;
}
a.mob-nav{
    color:black !important;
    font-size: 30px !important;
}

#mainNav {
    border-color:transparent;
    background-color: transparent;
}
#contactmainNav {
    border-color:transparent;
    background: white;
}
#blogmainNav {
    border-color:transparent;
    background: white;
}
.nav-item a{
    font-size: 16px;
}
h1 {
letter-spacing: -1px;
}

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 56px);
    background-position: 100%;
    background-size: cover;
}
header{    
    animation: animate 12s ease-in-out infinite;
}
header.masthead .container{
    padding-top: 30px;
}
@media screen and (min-width:1200px) {
    section.contact form button{
        margin-top:15px;
    }
    header.masthead h1 {
        font-size: 4rem;
    }
    .cd-headline {
        font-size: 5rem;
    }
    .cd-hire{
        font-size: 4.5rem;
        letter-spacing: -.5px;
        font-weight: 800;
        line-height: 55px;
    }
    .navbar-brand {
        padding-left: 50px;
    }
    .big-hire {
        font-size:80px;
    }
    .about-us strong{
        font-size:30px;
    }
    .our-services img#seo{
        width: 285px; 
        height: 212px;
    }
    #mainNav img{
        margin-left:20px;
    }
    .blog .row {
        margin-top: 3.5rem;
    }
}
@media (max-width: 575.98px) { 
    .homepage-next .col-lg-8 {
        text-align: center !important;
    }
    #full-head h1{
        margin-top:30%;
        padding-top: 50px;
        text-align:left;
        padding-left:30px;
        font-weight: 600;
        line-height: 30px;
        letter-spacing: 1px;
    }
    .navbar-brand{
        margin-right: 48% !important;
    }
    #full-head p.text-faded{
        text-align: left;
        padding-left:30px;
    }
    #full-head button{
        margin-right: 45% !important;
    }
    #full-head .next{
        padding-top:10px;
        padding-bottom: 10px;
    }
    .navbar-light .navbar-toggler {
        border-color: transparent !important;
    }
    header.masthead .container {
        height: 75vh;
    }
    .title{
        margin-bottom: 10px !important;
    }
    .accomplishments .row .container{
        text-align:center;
        width: 40%;
    }
    .accomplishments .row .container span{
        font-size: 30px;
    }
    .our-services img#seo {
        width: 50%;
    }
    .our-services div.img-box{
        margin-bottom: 20px !important;
    }
    .tech-work .col{
        padding: 15px;
    }
    .tech-work #db .col{
        padding: 5px;
    }
    p.cp-text{
        font-size: 18px;
    }
    a.navbar-brand{
        margin-left:0px;
    }
    section.values .img-card{
        margin-left: 89px;
        margin-right: 109px;
        padding-left: 43px;
        padding-right: 50px;
        margin-top: 4px;
        padding-top: 29px;
        padding-bottom: 30px;
    }
    section.intro h1{
        margin-top: 0px;
    }
    section.intro .col-lg-6 > p{
        margin-top: 0px !important;
    }
    .accomplishments .three{
        margin-top:35px !important;
    }
    .accomplishments .four {
        margin-top:35px !important;
    }

}
@media screen and (min-width:992px) {
    #full-head div.next{
        display: inline;
    }
    section.intro h1{
        margin-top:5rem;
    }
    header.masthead h1 {
        font-size: 58px;
    font-weight: 800;
    line-height: 70px;
    letter-spacing: -1px;
    }
    
    .cd-headline {
        font-size: 4rem;
    }
    .cd-hire{
        font-size: 3.2rem;
        letter-spacing: -.5px;
        font-weight: 800;
        line-height: 55px;
    }
    p{
        font-size: 20px;
    }
    header.masthead {
        height: 100vh;
        min-height: 650px;
        padding-top: 0;
        padding-bottom: 0;
      }
      ul.navbar-nav li{
          padding: 15px;
      }
      .navbar-brand {
          padding-left: 50px;
      }
      section.contact form button{
        margin-top:15px;
    }
    section.values .container{
        padding-right: 5rem;
        padding-left: 5rem;
    }
    .accomplishments .row .container{
        font-size: 60px;
        text-align:center;
        width: 20%;
    }
    .accomplishments p{
        margin-bottom: 0px;
    }
    .accomplishments span.total{
        padding-left: 15px;
    }
    .our-services img#seo{
        width: 285px; 
        height: 212px;
    }
    section.values .img-card{
        margin-right: 5rem;
    margin-left: 6rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.9rem;
    }
}

.cd-headline {
    line-height: 1;
    font-weight: 500;
    padding-top:20px;
    padding-bottom: 20px;
}
@keyframes animate{
    0%,100%{
        background: rgb(124,124,210);
/* background: linear-gradient(90deg, rgba(124,124,210,1) 3%, rgba(80,79,146,1) 36%, rgba(78,78,144,1) 100%);   */
    }
    25%{
        /* background-image: url(../img/pink-back.jpeg); */
        background: #b8c6db;
        /* background: linear-gradient(90deg, rgba(223,212,182,1) 62%, rgba(223,212,182,1) 100%, rgba(245,235,226,1) 100%);  */
    }
    50%{
        background:  #f9d29d;
    }
    75%{
        background: #f2994a;
        /* background: linear-gradient(90deg, rgba(124,126,213,1) 0%, rgba(57,92,124,1) 0%, rgba(25,49,85,1) 89%);  */
    }
    90%{
        background: #ee9ca7;
    }
}
.technologies-section{
    margin-top:30px;
}
h2.mrg-b {
    text-align: center;
    padding-bottom: 15px;
}
.hero {
    width: 80%;
    height: 450px;
    position: relative;

}
.btn-box {
    display: flex;
    border-bottom: 1px solid #ccc;
}
.btn-box button{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-services .box{
    padding-left:10px;
    padding-right: 10px;
    border-radius: 10px;   
}

.our-services div.img-box{
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.title {
    text-align: center;
    padding-left:auto;
    padding-right:auto;
    padding-top: 20px;
    font-size: 20px;
line-height: 30px;
font-weight: 600;
color: #252b33;
margin-bottom: 60px;
}

p.services-content{
    padding-left: 10px;
padding-right: 10px;
text-align: center;
padding-bottom: 30px;
margin-top:10px;
font-size: 16px;
line-height: 28px;
font-weight: 600;
color: #252b33;
}
a#cms-tab.nav-link.text-center.text-white.active {
    background-color: black;
}
a#db-tab.nav-link.text-center.text-white.active {
    background-color: black;
}
a#profile-tab.nav-link.text-center.text-white.active {
    background-color: black;
}
a#contact-tab.nav-link.text-center.text-white.active {
    background-color: black;
}
a#home-tab.nav-link.text-center.text-white.active {
    background-color: black;
}
/* .tech-work a.nav-link{
    color:black !important;
}
.tech-nav-dark {
    color:white !important;
} */
.tech-work ul,.tech-work ul li {
    font-family: Poppins, Open Sans, Helvetica Neue, Arial, sans-serif;
    font-weight: 600;
}

.tab-content .row{
    text-align: center;
}
ul.footer-links {
    list-style: none;
    padding-left: 0;
}

a.footer-link{
    text-decoration: none;
    font-size: 16px;
}
a.footer-link:hover {
    cursor: pointer;
    color: #252b33;
}
.social-media i{
    font-size:large;
}
.cp-text{
     /* color: rgba(0,0,0,.7);  */
     text-shadow: 0 1px rgba(255, 255, 255, 0.1);
     font-weight:  500;
     line-height: 1.7;
     font-size: 1.25rem;
}
/* .values div.container{
    margin-top:20px;
} */
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff !important;
    background-color: black !important;
}
section.values .container a.nav-link{
    color: #fff !important;
    background-color: black !important;
    margin-bottom: 10px;
}

